{{extend 'layout.html'}}
{{block header}}
<!-- <center style="background-color: #333; color:white; padding:30px">
  <h1>/{{=request.application}}/{{=request.controller}}/{{=request.function}}
</center> -->
{{end}}
<style>
  *{
	margin: 0;
	padding: 0;
	font-family: 'Source Serif Pro';
  }

  .jumbotron{
                    
  background-image: url('{{=URL('static','images/diacoterespalda.png')}}');
	height: 65vh; 
	background-size: 100% 100%;
	background-position: center;
  background-repeat: no-repeat;
	color: #ffffff;
	border-radius: 0px !important;
  }

  .jumbotron h1{
	margin: 30px 0;
	font-size: 30px;
	line-height: 1.5,
  }
  
</style>

{{if 'message' in globals():}}

<header>
	<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <!-- No quitar aqui va la imágen -->  
    </div>
  </div>
</header>

<div class="text-center">
		<a href="{{=URL('default','queja')}}" class="btn btn-primary btn-lg">Presentar una Queja</a>
		<a href="{{=URL('default','queja')}}" class="btn btn-secondary btn-lg">Observar Estadísticas</a>
</div>


  



{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}


<!-- url('{{=URL('static','images/12diaco.jpg')}}'); -->