*.bak
*.1
*.pyc
sessions/*
cache/*
errors/*
databases/*
private/*
.pythonhistory
progress.log
.bashrc
.gitconfig
.local/*
.profile
.pythonstartup.py
.vimrc
.virtualenvs/*
analisisproject/
web2py/*
**/__pycache__
